{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
           <div class="card" width="180%" height="180%" >
  <img src="{{i.img.url}}"class="card-img-top" alt=""  height="250">
       <div class="card-body" >
           <h5 class="card-title">{{i.name}}</h5>
           <p class="card-text">{{i.desc}}</p>
            <a class="btn btn-warning" href="{% url 'movieapp:detail' i.id %}">view details</a>



       </div>

  </div>
</div>
        {% endfor %}
</div>
 <a class="btn btn-danger" text="center"  href="{% url 'movieapp:add_movie'  %} "> add details</a>
</div>






{% endblock %}
